name: Pull Request Testing
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    env:
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      CI: true
      TRUFFLERUBYOPT: "--engine.Mode=latency"
    strategy:
      fail-fast: false
      matrix:
        ruby: ["3.1.7", "3.2.9", "3.3.10", "3.4.5", "3.4.6", "3.4.7", "3.4.8", "jruby-9.4", "jruby-10.0", "jruby-head", "truffleruby-24.0", "truffleruby-25.0"]
        os: ['ubuntu-22.04', 'ubuntu-24.04', 'windows-latest', 'ubuntu-22.04-arm', 'ubuntu-24.04-arm', 'macos-15', 'macos-26']
        exclude:
          - os: macos-26
            ruby: truffleruby-24.0
          - os: windows-latest
            ruby: truffleruby-24.0
          - os: windows-latest
            ruby: truffleruby-25.0
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run the default task
        run: bundle exec rake
